body{
  background-image: url("https://cdn.discordapp.com/attachments/713079524337647666/718916413959438487/1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.info{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
}

img {
  border-radius: 50%;
}

a{
  text-decoration:none;
}

a:link {
  color: rgb(110, 53, 160);
}

a:active {
  color: rgb(156, 116, 250);
}

a:visited {
  color: rgb(110, 53, 160);
}

a:hover {
  color: rgb(156, 116, 250);
}

.team{
  margin: auto;
  width: 70%;
}

.memberrow1{
  width:100%;

}

.memberrow2{
  width:100%;
}

.member{
  margin-left: 7%;
  margin-bottom: 5%;
  float: left;
}



