html{
  background-image: url("https://cdn.discordapp.com/attachments/713079524337647666/718916417394835487/2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

*{
	font-family: 'Comfortaa';
}

.centered {
	width: 100%;
	text-align: center;
}


#dashboard-grid {
	display: grid;
  grid-gap: 10px;
	grid-template-columns: 28% 28% 28%;
  height: 60vh;
  padding: 10px;
}

#last {
	grid-row: 1 / span 2;
  grid-column: 1 / span 2;	
}
#felt {
	grid-row: 3;
  grid-column: 1 / span 2;
}
#facts {
	grid-row: 1 / span 3;
  grid-column: 3 / span 5;
	overflow-y: auto;
}

.grid-item {
	border: 3px solid black;
	border-radius: 3vmin;
	padding: 0.5em 1em;
	background: white;
}

.collapsible {
  background-color:white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  font-size: 18px;
}