html{
  background-image: url("https://cdn.discordapp.com/attachments/713079524337647666/718916420179591238/3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.slider {
	width: 25vw;
}

.check {
	width: 2.5vmin;
	height: 2.5vmin;
}