
#all {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  
}

.selected {
	background-color: white;
	background-image: url("https://cdn.discordapp.com/attachments/713079524337647666/718925109036843062/Viewer.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed;   */
  /* background-size: cover; */
	background-position: right 2%;
	background-size: 20em 60em;
	border-left: 8px solid rgb(156, 116, 250);
	
}

#sidebar {
	width: 15em;
	height: 100%;
	margin: 0;
	border-right: 1px solid black;
	padding: 1em;
	overflow: auto;
	text-align: center;
  
  background: rgb(243, 218, 255);
}

#sidebar .prof-pic {
	object-fit: cover;
	width: 8em;
	border-radius: 50%;
}


#sidebar div {
	font-size: 1.25em;
	margin: 1em 0;
}
#sidebar a {
	transition: border 0.3s ease;
	text-decoration: none;
	color: black;
	padding: 0.5em;
}

/* #sidebar a:focus {
	border-left: 8px solid rgb(156, 116, 250);
	background: rgb(240, 240, 240);
} */

#sidebar a img {
	height: 1.5em;
	margin-right: 0.5em;
}

#main {
	flex-grow: 1;
	height: 100%;
	margin: 0;
	border-right: 1px solid black;
}